@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
}
body{
    background-color: #ffffff;
}
/* ===header-section=== */
header{
    padding: 230px;
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    justify-content: right;
}
header .header-text{
    width: 41%;
}
.header-text .title{
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.header-text .sub-title{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 25px;
    line-height: 20px;
    padding-left: 10px;
}
.btn{
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    color: #005FAC;;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

/* ====person-section==== */
section{
    padding: 80px 230px;
}
.failures-section{
    display: flex;
    align-items: center;
    gap: 50px;
}
.failures-section .right{
    padding-top: 150px;
}
.failures-section .right .per-title{
    font-size: 40px;
    color: #000000;
    margin-bottom: 15px;
}
.failures-section .right .per-sub{
    color: #333;
    line-height: 25px;
    margin-bottom: 20px;
}
.right .list .item{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}

/* ====plan-section=== */
.plan-title{
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin-bottom: 60px;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.card .card-item{
    text-align: center;
}
.card .card-item .card-title{
    font-size: 25px;
    margin: 15px 0;
    color: #000000;
}
.card .card-item .card-sub{
    color: #686868;
    font-weight: 600;
}

/* ---banner-section---- */
.banner{
    padding: 75px 85px;
    background-image: url("../images/gradient1.png"), url("../images/watch.png") ;
    background-repeat: no-repeat;
}
.banner .banner-title{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
    width: 40%;
}

/* footer-section */
footer{
    padding: 100px 230px;
    background-color: #000000;
}
.contact-section{
    display: flex;
    align-items: center;
}
.contact-left .con-title{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 20px;
}
.contact-left .con-sub{
    color: #ffffff;
    width: 60%;
    line-height: 22px;
    margin-bottom: 35px;
}
.contact-left .mail{
    color: #ffffff;
    margin-bottom: 15px;
}
.contact-left .phone{
    color: #ffffff;
    margin-bottom: 25px;
}
.contact-left img{
    margin-right: 10px;
}
.contact-right .subscribe{
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 25px;
}
.contact-right #email{
    outline: none;
    border: 1px solid #ffffff;
    padding: 18px 80px 18px 20px;
    color: #ffffff;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 15px;
}
.contact-right #email::placeholder{
    color: #ffffff;
}
.contact-right .primary-btn{
    background: #005FAC;
    color: #ffffff;
}